.App {
    text-align: center;
}
p {
    font-size: small;
}

h1 {
    text-align: center;
}
h3 {
    color: rgb(4, 74, 160);
}

.container {
    border: 3px solid black;
    border-radius: 15px;
    width: 40%;
    margin: 2% auto;
    padding: 35px 40px;
    padding-bottom: 60px;
}

.header-bar {
    background-color: rgb(4, 74, 160);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
}
.header-icon {
    margin-top: 20px;
    margin-right: 53px;
    cursor: pointer;
}
